:root {

  --mainBg: #333e4e;

  --mainRed: #CB3C25;

  --mainWhite: #ffffff;

}




* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  //border: 1px solid black;

}


html {

  background-color: var(--mainBg);

  color: var(--mainWhite);

  font-family: AvenirNext-UltraLight;

  // font-family: Gillroy;

  overflow: hidden;

  height: 100%;

  min-height: 100%;

}


.yellowLabel {

  transform: translateY(50%);

  opacity: 0;

  animation: showLabel forwards 1s;

}


@keyframes showLabel {

  

  to {

    transform: translateY(0%);

    opacity: 1;

  }

}


.singInPage > svg:first-child {

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  width: 100%;

} 


#enterTag {

  padding: 10px;

  color: rgba(255,255,255,1);

  font-weight: 600;

  font-size: 1.4rem;

  position: absolute;

  // left: 0;

  top: 20%;

  transform: translateY(-50%);

  width: 50%;

  text-align: center;

  // border-radius: 0 5px 0 0;

  border-top: 1px solid #BDC6BC;

  border-right: 1px solid #BDC6BC;

} 



#regTag {

  padding: 10px;

  color: rgba(255,255,255,.2);

  font-weight: 600;

  font-size: 1.4rem;

  //filter: blur(1px);

  position: absolute;

  right: 0;

  top: 20%;

  transform: translateY(-50%);

  width: 50%;

  text-align: center;

  //border-radius: 0 0 0 5px;

  border-bottom: 1px solid #BDC6BC;

} 



.singInPage > input {

  position: absolute;

  left: 50%;

  top: 70%;

  transform: translate(-50%, -50%);

  width: 70%;

  background: transparent;

  border: none;

  //border-bottom: 1px solid #ffffff;

  font-size: 1.2rem;

  padding: 5px 0;

  margin: 10px;

} 


#emailInputReg {

  position: absolute;

  left: 50%;

  top: 55%;

  transform: translate(-50%, -50%);

  width: 70%;

  background: transparent;

  border: none;

  //border-bottom: 1px solid #ffffff;

  font-size: 1.2rem;

  padding: 5px 0;

  margin: 10px;

} 



.lineDivider {

  position: absolute;

  left: 50%;

  top: 55%;

  transform: translate(-50%, -50%);

  width: 76%;

  z-index: -1;

  }


.lastDivider {

  position: absolute;

  left: 50%;

  top: 40%;

  transform: translate(-50%, -50%);

  width: 76%;

  z-index: -1;

  }


.singInPage > button {

  position: absolute;

  left: 50%;

  top: 85%;

  transform: translate(-50%, -50%);

  width: 70%;

  margin: 20px 0 80px 0;

  padding: 12px 10px;

  font-size: 1.2rem;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: var(--mainBg);

  background-color: #BDC6BC;

  border: 1px solid #BDC6BC;

  border-radius: 3px;

} 


#delSearchCross {

  position: absolute;

  // background: green;

  width: 50px;

  height: 50px;

  right: -6.0px;

  top: 50%;

  transform: translateY(-50%);

  transition: transform 1.4s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

} 


#delSearchCross > svg {

  width: 100%;

} 



#calHolder {

  position: fixed;

  width: 100%;

  height: 100%;

  z-index: 590;

  background-color: var(--mainBg);

  //transform: scale(.4);

  //text-align: center;

}



#crossCalendar {

  color: #CB3C25;

  position: fixed;

  top: 10px;

  right: 10px;

  font-size: 2.27rem;

  transform: rotate(45deg);

}


#fonCenterPointer {

  background: var(--mainBg);

  position: fixed;

  bottom: 291px;

  left: 50%;

  transform: translateX(-50%) rotate(-45deg) skew(20deg, 20deg);

  //border: 1px solid snow;

  width: 40px;

  height: 40px;

  z-index: 602;

}


#centerPointer {

  background: var(--mainRed);

  position: fixed;

  bottom: 285px;

  left: 50%;

  transform: translateX(-50%) rotate(45deg);

  width: 30px;

  height: 30px;

  z-index: 600;

}


#screen {

  position: fixed;

  width: 100%;

  top: 75px;

  color: var(--mainWhite);

  text-align: center;

  font-size: 1.618rem;

  font-weight: 600;

}


#rename {

  background: transparent;

  border: 1px solid var(--mainWhite);

  border-radius: 3px;

  font-size: 1rem;

  color: var(--mainWhite);

  width: 100%;

  margin: 10px auto;

  padding: 6px 3px;

}


.circle {

  overflow: hidden;

  position: absolute;

  top: 100%;

  left: 50%;

  transform: translate(-50%, -50%) rotate(0deg);

  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  //animation: rotateToZero .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards .5s;

  //border: 1px solid black;

  box-shadow: 0 0 6px 0 black;

  border-radius: 50%;

  background: var(--mainWhite);

  text-align: center;

  font-weight: 800;

  color: var(--mainBg);

}


.divDown {

  transform: translate(-50%, 250%) rotate(0deg);

}


.years {

  width: 600px;

  height: 600px;

}


.months {

  width: 450px;

  height: 450px;

}


.days {

  width: 300px;

  height: 300px;

}


.btnOK {

  width: 150px;

  height: 150px;

  background-color: #CB3C25;

  color: var(--mainWhite);

}


.btnOK:hover {

  box-shadow: inset 0 0 20px 0 black;

}


.btnOK:active {

  box-shadow: inset 0 0 20px 0 black;

}


.yearInCircle {

  position: absolute;

  top: 20px;

  left: 50%;

  font-size: 1.618rem;

  transform-origin: 50% 280px;

}


.monthInCircle {

  position: absolute;

  top: 20px;

  left: 50%;

  font-size: 1.2rem;

  transform-origin: 50% 205px;

} 


.dayInCircle {

  position: absolute;

  top: 20px;

  left: 50%;

  font-size: 1.618rem;

  transform-origin: 50% 130px;

} 


.btnInCircle {

  position: absolute;

  top: 25%;

  left: 50%;

  font-size: 1.2rem;

  transform: translateX(-50%);

  //transform-origin: 50% 170px;

} 



.yearsOut {

    transform: translate(-50%, -50%) rotate(170deg);

  }



.monthsOut {

    transform: translate(-50%, -50%) rotate(-170deg);

  }


.daysOut {

    transform: translate(-50%, -50%) rotate(270deg);

  }


.opacityToZero {

  opacity: 0;

}



.modalWindow {

  position: fixed;

  width: 90%;

  min-height: 90vh;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  opacity: 1;

  border-radius: 3px;

  background-color: var(--mainWhite);

  z-index: 500;

  overflow-x: hidden;

  transition: all 0.4s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


.modalWindow .holder {

  position: absolute;

  width: 100%;

  padding: 20px 30px;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  color: var(--mainBg);

  //border: 1px solid rgba(45,45,45.1);

} 


.modalWindow svg {

  position: absolute;

  width: 100%;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

}


.modalOut {

  transform: translate(-50%, -50%) scale(0);

  opacity: 0;

  //z-index: -1;

} 



#pauseExitPlay {

  position: fixed;

  //top: 0;

  //left: 0;

  bottom: 20px;

  //right: 0;

  width: 100%;

  //height: 60px;

  z-index: 400;

  //left: 50%;

  //transform: translateX(-50%);

  opacity: 1;

  //visibility: hidden;

}


#pauseExitPlay > *{

  border: 1px solid #BDC6BC;

  border-radius: 3px;

  color: var(--mainWhite);

  padding: 10px 0px;

  font-size: 1rem;

  text-align: center;

  //height: 40px;

  transition: all 0.4s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


#modePlayPauseBtn {

  float: left;

  color: var(--mainWhite);

  margin-left: 20px;

  width: 45%;

  overflow: hidden;

}


#modePlayPauseBtn >  {

  text-align: center;

}


#modePlayPauseBtn > span {

  //height: 100%;

  //border-right: 1px solid #BDC6BC;

  width: 100%;

  float: left;

}


#pauseExitPlay > span {

  float: right;

  color: var(--mainWhite);

  margin-right: 20px;

  width: 25%;

}


.hiddenAlert {

  background-color: rgba(0,0,0,.9);

  position: fixed;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  z-index: 400;

  opacity: 0;

  visibility: hidden;

  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);

}


.showAlert {

  opacity: 1;

  visibility: visible;

}


.msgDiv {

  position: relative;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  font-size: .9rem;

  font-weight: 600;

  width: 60%;

  text-align: center;

  border: 1px solid var(--mainWhite);

  border-radius: 3px;

  padding: 10px 20px;

} 


.fromToFon {

  background-color: #CB3C25;

  position: fixed;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  z-index: 400;

  transform: translateY(130%);

  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);

}



.fromToFonStep1 {

  transform: translateY(0%);

}


.fromToFonStep2 {

  transform: translateY(-100%);

}




.loader {

  background-color: var(--mainBg);

  position: fixed;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  z-index: 400;

  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);

}


.loader > svg, .fromToFon > svg {

  position: relative;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  width: 70vw;

}



#loaderCircle {

  stroke-dasharray: 254.256;

  stroke-dashoffset: 254.256;

  animation: line-anim 1.4s forwards .2s;

}


#loaderCross {

  stroke-dasharray: 459.546;

  stroke-dashoffset: 459.546;

  animation: line-anim 3.2s forwards 1.2s;

}


.loaderGone {

  transform: scale(2);

  opacity: 0;

  //display: none;

} 



main {

  width: 100vw;

  //overflow-x: hidden;

}


header {

  //background-color: var(--mainBg);

  position: fixed;

  width: 100%;

  height: 64px;

  //box-shadow: 0 0 45px 0 #333e4e;

  margin-bottom: 10px;

  z-index: 200;

}


.sandwich {

  position: relative;

  width: 64px;

  height: 100%;

  float: left;

  z-index: 50;

}


#groupsTitle {

  position: fixed;

  left: 64px;

  top: 18px;

  height: 64px;

  font-size: 1.4rem;

  font-weight: 700;

  color: var(--mainRed);

} 


.sandwich > * {

  text-align: center;

  position: relative;

  top: 50%;

  transform: translateY(-50%) rotate(90deg);

  font-size: 1.4rem;

}


.logoHolder {

  //display: inline-block;

  position: absolute;

  height: 100%;

  width: 100%;

  text-align: center;

}


.logoHolder > span {

  font-size: 1.2rem;

  font-family: AppleSDGothicNeo-Thin;

  position: relative;

  float: right;

  //padding-right: 1px;

  color: var(--mainWhite);

  //width: 100%;

  height: 100%;

  top: 33%;

}


.logoHolder > span:first-child {

  padding-right: 19px;

}


.logoHolder > span:nth-child(9) {

  padding-right: 10px;

}


.test {

  opacity: 1;

  transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);

}



.hMenu {

  width: 100%;

  min-height: 100vh;

  background-color: #CB3C25;

  position: fixed;

  z-index: 210;

  transform: translateX(-102%);

  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);

}


.cross {

  width: 64px;

  height: 64px;

  position: relative;

  font-size: 2.32rem;

  color: #161c26;

  transform: rotate(45deg);

  text-align: center;

}


.allListHeader {

  //background: rgba(0,0,0,.1);

}


.groupLine {

  width: 100%;

  position: relative;

  display: block;

  text-align: left;

  padding-bottom: 8.5px;

  border-bottom: 8px solid rgba(0,0,0,.1);

  margin-bottom: 40px;

  font-size: 1.4rem;

  font-weight: 700;

  //color: rgba(45,45,45,.5);

} 


#linksInMenu {

  font-size: 1.24rem;

  color: var(--mainWhite);

  position: absolute;

  top: 50%;

  left: 50%;

  width: 100%;

  transform: translate(-50%, -50%);

}


#linksInMenu span {

  display: block;

  margin-top: 15px;

  text-align: center;

  width: auto;

  transition: transform 0.7s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


.formItem {

  transition: transform 0.7s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

} 



.opened {

  transform: translateX(0);

}


.hiddening {

  visibility: hidden;

  display: none;

}



.formHolder {

  width: 100%;

  height: 100%;

  position: relative;

  top: 80px;

  margin: 0 auto;

}


.formTitle {

  position: relative;

  text-align: center;

  margin-bottom: 10px;

  left: 50%;

  transform: translate(-50%);

}


#addForm {

  width: 90%;

  height: auto;

  background-color: var(--mainBg);

  position: absolute;

  //top: 10px;

  left: 50%;

  transform: translate(-50%) rotate(0deg);

  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  //border-radius: 5px;

  color: #7d887a;

  overflow: hidden;

}


.fieldHolder {

  margin: 0px;

  width: 100%;

  position: relative;

  display: block;

  left: 50%;

  transform: translate(-50%);

}


.fieldHolder > * {

  display: block;

  border: none;

}


.fieldHolder > label {

  display: none;

  opacity: 0;

  background: transparent;

  //padding: 0 5px;

  float: left;

  color: var(--mainWhite);

  //transform: translate(6%, 112%);

  font-size: .6rem;

  //margin-top: -21px;

  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);

}



.fieldHolder > input, .fieldHolder > textarea {

  width: 100%;

  color: var(--mainWhite);

  min-height: 50px;

  font-size: 1rem;

  padding-left: 3px;

  padding-top: 10px;

  background: transparent;

}



.fieldHolder > textarea {

  padding-top: 13px;

}


.fieldHolder > input:focus, .fieldHolder > textarea:focus {

  //border-bottom: 2px solid rgba(0,0,0,1);

}


.fieldHolder > span {

  //background-color: #b6c4d7;

  color: var(--mainWhite);

  text-align: center;

  //border-radius: 0 0 4px 4px;

}



.addBtnDiv {

  position: relative;

  left: 50%;

  transform: translateX(-50%);

  margin: 20px 0 80px 0;

  padding: 12px 53px;

  font-size: 1.2rem;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: var(--mainWhite);

  background-color: transparent;

  border: 1px solid #BDC6BC;

  border-radius: 3px;

}


.addBtnDiv:hover {

  border: 1px solid var(--mainWhite);

  box-shadow: 0 0 4px 0 var(--mainWhite);

}


.addBtnDiv:active {

  border: 1px solid var(--mainWhite);

  box-shadow: 0 0 10px 0 var(--mainWhite);

}


.showedPersonsList {

  width: 100%;

  font-size: 1.3rem;

  text-align: center;

} 



.searchingForChange {

  position: absolute;

  width: 70%;

  top: 64px;

  left: 50%;

  transform: translateX(-50%);

  min-height: 90vh;

  background-color: var(--mainBg);

  color: #7d887a;

} 



.groupsChangeDiv {

  position: absolute;

  width: 80%;

  top: 64px;

  left: 50%;

  transform: translateX(-50%);

  min-height: 90vh;

  background-color: var(--mainBg);

  color: var(--mainWhite);

}


.inputForSearch {

  border: 1px solid var(--mainWhite);

  //width: 80%;

  margin-bottom: 15px;

} 


.searchedItem {

  position: relative;

  left: 50%;

  transform: translateX(-50%);

  width: 120%;

  min-height: 70px;

  padding: 6px;

  //text-align: right;

  color: var(--mainBg);

  margin-bottom: 25px;

  background-color: #BDC6BC;

  //border: 1px solid #7d887a;

  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);

  border-radius: 6px 0 0 6px;

  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  transform-origin: 50% 50%;

}


.searchedItem > div {

  display: inline-block;

}


.searchedItem > div:first-child {

  width: 60%;

  border-right: 1px solid #333e4e;

  font-size: 1.1rem;

}


.searchedItem > div:last-child {

  width: 30%;

  //border-right: 1px solid #333e4e;

  font-size: .4rem;

  text-align: center;

}


.foundPersonData{

  text-align: center;

} 



.formToEdit {

  position: fixed;

  width: 100vw;

  min-height: 100vh;

  top: 0;

  //left: 50%;

  //transform: translate(-50%, -50%) scale(1);

  opacity: 1;

  border-radius: 0px;

  background-color: var(--mainWhite);

  z-index: 500;

  overflow-x: hidden;

  border: none;

} 


.yellow {

  //background-color: #f64b29;

  font-weight: 700;

} 


.radioHolder {

  //background-color: #f64b29;

  //margin: 15px 10px;

  //width: 100%;

  //float: left;

  margin: 10px 0;

  position: relative;

  //display: inline-block;

  left: 50%;

  transform: translate(-50%);

  //border: 1px solid #ffffff;

  width: 100%;

  padding: 10px;

  //border-radius: 5px;

} 


.radioHolder > * {

  font-size: 1.1rem;

}


.radioHolder > label {

  padding-right: 10px;

}


.radioHolder > input {

  border: 1px solid var(--mainWhite);

  //width: 21px;

  background-color: transparent;

  //height: 21px;

}


.selectsHolder {

  margin: 15px 0;

  width: 90%;

  position: relative;

  left: 50%;

  transform: translate(-50%);

}


.selectsHolder > * {

  width: 49%;

  font-size: 1rem;

  border-radius: 0%;

  background-color: var(--mainWhite);

  color: var(--mainBg);

  border: 2px solid rgba(0,0,0,.2);

}



#additBtn {

  width     : 70%;

  position  : relative;

  left      : 50%;

  transform : translateX(-50%);

  margin    : 15px 0;

  padding   : 5px 0px;

  height    : 50px;

  background: #789A52;

  border    : none;

  font-size : .8rem;

}



.allItems {


}




.card {

  position: absolute;

  width: 100%;

  height: 100%;

  top: 50%;

  left: 50%;

  border: 1px solid var(--mainWhite);

  border-radius: 8px;

  text-align: center;

  background-color: #BDC6BC;

  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);

  box-shadow: 0 0 45px 0 #333e4e;

  padding: 10px;

  overflow: hidden;

}


.zero {

  transform: translate(-105%, -40%) scale(.6);

  z-index: 90;

  filter: blur(1px);

  color: var(--mainBg);

}


.first {

  transform: translate(-50%, -40%) scale(.725);

  z-index: 95;

  color: var(--mainBg);

}   


.second {

  transform: translate(5%, -40%) scale(.6);

  z-index: 90;

  filter: blur(1px);

  color: var(--mainBg);

}


.start1 {

  transform: translate(60%, -40%) scale(.3);

  z-index: 90;

  filter: blur(1px);

}


.start2 {

  transform: translate(90%, -40%) scale(.2);

  z-index: 85;

  filter: blur(2px);

}



svg {

  width: 36.3%;

}



#liveLine1, #liveLine2, #liveLine3, #liveLine0 {

  width: 100%;

  height: 55px;

  position: absolute;

  left: 0;

  opacity: 1;

}


#deadLine1, #deadLine2, #deadLine3, #deadLine0 {

  width: 100%;

  height: 55px;

  position: absolute;

  left: 0;

  opacity: 1;

}


#liveLine1, #liveLine0 {

  stroke-dasharray: 540;

  stroke-dashoffset: 0;

}


#liveLine2 {

  stroke-dasharray: 504.25;

  stroke-dashoffset: 0;

}


#liveLine3 {

  stroke-dasharray: 200.841;

  stroke-dashoffset: 200.841;

}


#deadLine1, #deadLine0 {

  stroke-dasharray: 540;

  stroke-dashoffset: 540;

}


#deadLine2 {

  stroke-dasharray: 504.25;

  stroke-dashoffset: 504.25;

}


#deadLine3 {

  stroke-dasharray: 200.841;

  stroke-dashoffset: 0;

}


#editCancel {

  position: relative;

  left: 50%;

  transform: translateX(-50%);

  margin: 0 5px 20px 0;

  padding: 5px 20px;

  width: 90%;

  font-size: 1rem;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: var(--mainBg);

  background-color: #BDC6BC;

  border: 1px solid var(--mainWhite);

  border-radius: 3px;

} 


#deleteName {

  position: relative;

  left: 50%;

  transform: translateX(-50%);

  margin: 0 5px 20px 0;

  padding: 5px 20px;

  width: 90%;

  font-size: 1rem;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: var(--mainWhite);

  background-color: var(--mainRed);

  border: 1px solid var(--mainWhite);

  border-radius: 3px;

} 





.scrollDown1 {

  animation: line-width cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .3s, line-gone .7s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .1s;

}


.scrollDown2 {

  animation: line-widthZero .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .3s;

}


.scrollDown3 {

  animation: line-anim .6s forwards .4s;

}


.scrollUp1 {

  animation: line-widthZeroBack .4s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .3s;

}


.scrollUp2 {

  animation: line-widthZeroBack cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards .3s;

}


.scrollUp3 {

  animation: line-animBack forwards .4s;

}


.errorBackground {

  background: rgba(255,0,0,.3);

}




td {

  border: 1px solid #BDC6BC;

  border-left: transparent;

}


.tabRight {

  border-right: transparent;

}


.activLink {

  font-size: 1.5rem;

  font-weight: 700;

}


.pannel {

  position        : fixed;

  height          : 50px;

  width           : 92%;

  left            : 50%;

  transform       : translateX(-50%) translateY(100%);

  transition      : all 0.9s cubic-bezier(0.19, 1, 0.22, 1);

  border-top      : 1px solid var(--mainWhite);

  background-color: var(--mainBg);

  bottom          : 0;

  z-index         : 110;

  overflow        : hidden;

}



.slideUp {

  transform       : translateX(-50%) translateY(0%);

}



.pannel > svg {

  width  : 23.5%;

  font-size: 1.5rem;

  text-align: center;

  position: relative;

  top: 50%;

  transform: translateY(-50%);

  transition      : all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  display: inline-block;

  //background-color: red;

  margin: 0;

  padding: 0;

}



.pauseMode {

  border: 1px solid var(--mainBg);

  background-color: #BDC6BC;

  box-shadow: inset -0px 0 5px 0 var(--mainBg), inset  0px 0 5px 0 var(--mainBg);

  transform: translateY(-50%) scale(.6);

} 


.invsbLink {

  transform: scale(0);

  opacity: 0;

}


.commonBox {

  position: relative;

  //border: 1px solid #ffffff;

  margin: -3px auto;

  transition      : all 3s cubic-bezier(0.19, 1, 0.22, 1);

} 


.commonBox_name {

  font-size: 1.3rem;

  font-weight: 400;

}


.fontSizePlus {

  font-size: 2rem;

  font-weight: 600;

}


.commonBox_other {

  font-size: 1rem;

  margin-top: -3px;

}


.miniCrossForDate {

  position: absolute;

  top: 50%;

  right: 1px;

  width: 50px;

  height: 50px;

  transform: translateY(-50%);

  //background: snow;

  border-radius: 50%;

} 


.miniCrossForDate svg {

  width: 100%;

}


#addGroup {

  width: 90%;

  height: 100%;

  min-height: 100%;

  position: absolute;

  top: 60px;

  left: 50%;

  transform: translateX(-50%);

  //margin: 0 auto;

  //z-index: 700;

  //background: var(--mainRed);

  border-radius: 30px 30px 0 0;

} 



#groupName {

  width: 100%;

  color: var(--mainWhite);

  min-height: 50px;

  font-size: 1rem;

  padding-left: 3px;

  background: transparent;

} 



#groupSelect {

  width: 49%;

  font-size: 1rem;

  border-radius: 0%;

  background-color: #ffffff;

  color: var(--mainBg);

  border: 2px solid rgba(0,0,0,.2);

} 



#groups > *{

  width: 40%;

  display: inline;

} 


.groupChangeSelects > *{

  width: 40%;

  display: inline;

} 



#groups > label{

  color: #ffffff;

  border: none;

  background: transparent;

} 


.groupChangeSelects > label{

  color: #ffffff;

  border: none;

  background: transparent;

} 


.selectForGroupOrder {

  width: 90%;

  float: right;

} 



.btnsDeleteName {

  width: 100%;

  margin-top: 6px;

  text-align: center;

}


.btnsDeleteName > *{

  border: none;

  width: 100%;

  border-radius: 3px;

  //background: #ffffff;

  //color: var(--mainBg);

  display: block;

  margin: 10px auto;

  padding: 15px 10px;

  font-size: 1.1rem;

}


.btnsDeleteName > *:first-child {

  background: #ffffff;

  color: var(--mainBg);

}


.btnsDeleteName > *:last-child {

  background: var(--mainRed);

  color: #ffffff;

}

 



@keyframes line-widthZero {


  to {


    stroke-dashoffset: 504.25;


  }


}



@keyframes line-width {


  to {


    stroke-dashoffset: 40;


  }


}


@keyframes line-gone {


  to {


    opacity: 0;


  }


}


@keyframes line-anim {


  to {


    stroke-dashoffset: 0;


  }


}


@keyframes line-animBack {


  to {


    stroke-dashoffset: 200.841;


  }


}


@keyframes line-widthZeroBack {


  to {


    stroke-dashoffset: 0;


  }


}


@media screen and (orientation: landscape) {

  .card {

    width: 33%;

  }


  .years {

  width: 300px;

  height: 300px;

}


.months {

  width: 225px;

  height: 225px;

}


.days {

  width: 150px;

  height: 150px;

}


.btnOK {

  width: 75px;

  height: 75px;

}


.yearInCircle {

  top: 7px;

  font-size: .9rem;

  transform-origin: 50% 143px;

}


.monthInCircle {

  top: 7px;

  font-size: .7rem;

  transform-origin: 50% 105.5px;

} 


.dayInCircle {

  top: 7px;

  font-size: .9rem;

  transform-origin: 50% 68px;

} 



  #screen {

  top: 30.5px;

  font-size: 1.4rem;

}



.btnInCircle {

  font-size: .52rem;

} 



.loader > svg, .fromToFon > svg {

  width: 33vw;

}



.fontSizePlus {

  font-size: 2.9rem;

}


.commonBox_other {

  font-size: 1.37rem;

}



}